/* Style sheet for the odin project Recipes assignment */

* {
    background-color: rgb(51, 49, 49); color:white;
}

h1 {
    margin: 0 0 20px 0px;
    text-align: center;
}

h2 {
      margin: 0 0 20px 0;
      text-align: center;
}

h3 {
      margin: 0 0 20px 0;
      text-align: center;
}

h4 {
      margin: 0 0 20px 0;
      text-align: center;
}

h5 {
      margin: 0 0 20px 0;
      text-align: center;
}

h6 {
      margin: 0 0 20px 0;
      text-align: center;
}

p {
    font-size: 24px;
    text-align: center;
}

.container {
    display: flex;
    /* border: 5px solid orange; */
    /* align-items: center; */
    justify-content: center;
}

h2.rec {
    font-size: 25px;
    margin: 2.5rem 2rem 0 0;
}

a {
    color: orange;
    background-color: black;
    border: 1px solid orange;
    border-radius: 10px;
}

.list {
    font-size: 25px;
    padding: 0.5rem; 
}

li {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

img {
    width: 30%;
    margin-left: 35%;
    border: 1px solid black;
    border-radius: 10px;
}